---
import Layout from "../layouts/Layout.astro";
import pictureOfJars from "../assets/jars2.png";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";

const optimizedBackground = await getImage({
  src: pictureOfJars,
  format: "webp",
});
//
---

<Layout title="Welcome to Astro.">
  <main
    class="bg-[#7c9074] min-h-screen text-white backdrop-blur-[266px] flex flex-col items-center justify-center"
  >
    <div
      class="h-[50vh] w-[60vw] bg-contain bg-right bg-no-repeat flex justify-start items-center"
      style={`background-image: url(${optimizedBackground.src});`}
    >
      <section class="flex flex-col space-y-4">
        <h1 class="text-8xl font-bold text-gray-900">Ferment Quest</h1>
        <h2 class="text-4xl text-gray-700">
          Find your next fermentation challenge!
        </h2>
        <p class="text-xl text-gray-700 w-1/2">
          Use this tool to find what veggies to ferment next, based on
          difficulty, time, price and your climate. Step-by-step guides, recipes
          and tips to help you ferment whatever your heart desires.
        </p>
      </section>
    </div>

    <!-- <Image
      src={pictureOfJars}
      alt="Three jars of pickles vegetables."
      width="650"
      height="650"
    /> -->
  </main>
</Layout>
